
<div class="row example1">

<div class="col-md-3 logo">
        <img src="..\\assets\img\logo3.png" alt="Los Angeles" width="120" height="70px">
        <p>Sarline Binary Trading</p>

</div>

<div class="col-md-6">
   <mat-card>
        <h2><i class="material-icons"> spa</i> Sarline Binary Trading</h2>   
</mat-card> 
</div>

<div class="col-md-3 supports">
        
                <h5><i class="material-icons"> access_alarms </i>24*7 Supports<br>
                      Call- 011-269632</h5> 
            
</div>




</div>


