<div id="my-content">
     <mat-card class="examp1"> 
    <button mat-button routerLink="home"> <mat-icon>dialpad</mat-icon><br>Home</button>
    <button mat-button routerLink="flight"><i class="material-icons">flight </i><br>About</button>
    <button mat-button routerLink=""><i class="material-icons"> hotel </i><br>Trading</button>
    <button mat-button routerLink=""><i class="material-icons">rowing </i><br>Our Clients</button>
    <button mat-button routerLink=""><i class="material-icons"> directions_railway </i><br>Contact Us</button>
    
</mat-card>
    </div>